# College Placement & Internship Cell Portal - Python Dependencies
# Run: pip install -r requirements.txt
# Run Server: python app.py

Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
click==8.1.7
itsdangerous==2.2.0
